python-docx>=0.8.5
xlrd>=1.0.0
Pillow>=3.3.1
lxml>=3.6.0
pyinstaller>=3.2

-e git+https://github.com/XLSForm/pyxform.git@master#egg=pyxform
-e git+https://github.com/lindsay-stevens/xmltodict.git@disable_entities#egg=xmltodict
-e .