python-docx>=0.8.5
xlrd>=0.9.4
Pillow>=3.0.0
lxml>=3.5.0
pyinstaller>=3.1.1

-e git+https://github.com/XLSForm/pyxform.git@master#egg=pyxform
-e git+https://github.com/lindsay-stevens/xmltodict.git@2935115bfa419b7f3bde4fd5effce7c6482ad1c4#egg=xmltodict
-e .